<div class="container">
    <header>
        <div class="header">
            <p>Existent-Shell Designs</p>
            <p>Unique art pieces</p>
        </div>
    </header>
    {{!-- contact form  --}}
    <div id="cForm" class="contactForm">
        <form action="" name="contactForm">
            <h5>Comments? Questions about a custom project? Let us know!</h5>
            <br>
            <div class="form-group form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationServer01">First name</label>
                    <input type="text" class="form-control" id="contact-first" placeholder="First name" required />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationServer02">Last name</label>
                    <input type="text" class="form-control" id="contact-last" placeholder="Last name" required />
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="contact-email" placeholder="name@example.com" required />
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Please Enter Your Message Below</label>
                <textarea class="form-control" id="contact-message" rows="4" placeholder="Message here"
                    required></textarea>
            </div>
            <button id="send" type="submit" class="btn">Submit</button>
        </form>
    </div>

    <main>
        <div class="contact">
            <button id="contactInfo" class="btn">Contact Information</button>
        </div>
        {{!-- begin grid for gallery designs --}}
        <div class="grid">
            {{#each items}}
            <div class="gallery-item" id="portfolio">
                <a href="images/{{this.imgSource}}" data-lightbox="Custom Designs" data-title="{{this.descript}}"><img
                        class="img" src="images/{{this.imgSource}}" alt="{{this.title}}" style="width:100%"></a>
                <div class="piece-desc">
                    <div id="title" class="ch">{{this.title}}</div>
                    <hr>
                    <p class="text">{{this.descript}}</p>
                    <p id="price" class="text">Price: ${{this.price}}.00</p>
                    <button class="purchase btn" data-id={{this.id}} data-price={{this.price}} data-title={{this.title}}
                        data-descript={{this.descript}} data-nickname={{this.nickname}}>Purchase
                    </button>
                </div>
            </div>
            {{/each}}


    </main>

    {{!-- shopping bag with link to checkout page --}}
    <div id="check" class="checkout">
        <div class="shoppingCart">
            <div class="cartTitle">
                <h4>Shopping Bag</h4>
            </div>
            <div class="cartItem">
                <ul id="cart-list" class="list-group"></ul>
                <hr>
                <div class="total">Total: $<span id="cart-total"></span> </div>
            </div>
            <br>
            <a id="checkoutBtn" class="btn btn-primary" href="/checkout" role="button">Checkout</a>
            <button id="clear" class="btn btn-default">Clear Shopping Bag</button>
        </div>
    </div>
    </form>
    </main>

    <div class="footer">Made by M</div>

</div>