<div class="container">
    <header>
        <div class="header">
            <p>Existent-Shell Designs</p>
            <p>Unique art pieces</p>
            
        </div>
    </header>

    <main class="grid">
        
        {{#each items}}
        <div class="gallery-item" id="portfolio">
            <img class="img" src="images/{{this.imgSource}}" alt="{{this.title}}" style="width:100%">
            <div class="piece-desc">
                <div id="title" class="ch">{{this.title}}</div>                
                <hr>               
                <p class="text">{{this.descript}}</p>
                <p id="price" class="text">Price: ${{this.price}}.00</p>
                <a href="#" class="purchase btn" data-id={{this.id}} data-price={{this.price}}
                    data-title={{this.title}} data-descript={{this.descript}}>Purchase</a>
            </div>
        </div>
        {{/each}}
       
    
    </main>

    {{!-- <form method="POST" action="/checkout"> --}}
    {{!-- <div>
  <form action="/" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div> --}}
 
    <div class="shoppingCart">
        <ul id="cart-list" class="list-group"></ul>
        <button id="checkoutBtn" class="btn">Checkout</button>
    </div>

    {{!-- </form> --}}


    <div class="footer">Made by M</div>

</div>